body{
	background-image:url('../images/afdc814ad0c570a8c865e4e2a06f05bb1.jpg');
}

#plc {
	text-align: center;
	vertical-align: middle;
	margin-top: 15%;
}
.flogo
{
	text-align: center;
	color: white;
}
